body {
  margin: 0;
  background-color: #EFEFEF;
}

/* 그리드를 사용하여 배치 */
.container {
  display: grid;
  /* 15:10:auto 비율로 배치 */
  grid-template-rows: 20% 5% auto;
  /* 중앙정렬 */
  margin-left: 10%;
  margin-right: 10%;
}

/* container 안 header, nav, main 라인선 알기위한 border */
.container > header,
.container > nav,
.container > main {
  border: 1px solid black;
}

/* 메뉴버튼 꾸미기 */
.menuButton {
  /* fixed를 이용하여 최상단 최좌측에 고정 */
  position: fixed;
  top: 0;
  left: 0;
  background-color: 	#a29bfe;
  color: black;
  padding: 1.5% 5%;
  text-align: center;
  font-size: 2vw;
  font-family: 'Jua', sans-serif;
  /* z-index요소를 주어 가장 위쪽으로 보이도록 조정 */
  z-index: 2; 
  width: 15vw;
  border: 0;
  outline: 0;
  opacity: 0.7;
}
/* 메뉴버튼에 마우스를 올렸을시 효과 */
.menuButton:hover {
  background-color: black;
  color: white;
}

a {
  /* a태그의 밑줄부분 삭제 */
  text-decoration-line: none !important;
}

span > a {
  /* 요일, 신작, 완결별 웹툰 목록 꾸미기 */
  color: #a29bfe;
  display: inline-block;
  border-radius: 20%;
  padding: 0vw 1.5vw 0vw 1.5vw;
  margin: 1vh 0vh 1vh 0vh;
  /* 반응형웹에 적합한 %, 뷰포트사용 */
}

.sequenceNumbers {
  position: absolute;
  bottom: 0;
  /* 메인웹툰번호들이 있는 div 태그의 부모요소의 맨아래로 배치 현재부모요소 header */
}

.sequenceNumber {
  /* 메인웹툰번호 꾸미기 */
  color: white;
  border-radius: 20%;
  background-color: black;
  padding: 0vw 1vw 0vw 1vw;
  margin: 1vh 0vh 1vh 0vh;
  font-size: 2.5vh;
  opacity: 0.6;
}

span > a:hover {
  /* 링크에 마우스가 올라올시 효과 적용 */
  color: white;
  background-color: #a29bfe;
}

/* 요일, 신작, 완결별 웹툰 종류를 flex로 지정후 옵션사용 */
.container_3 {
  display: flex;
  justify-content: space-between;
  font-size: 3vw;
  font-family: 'Jua', sans-serif;
}

/* 요일,신작,완결별 웹툰 수직 중앙정렬 */
.container_3 > span {
  align-self: center;
}

.container_2 {
  /* 요일별, 신작, 완결별 웹툰들 모음을 그리드로 표현 */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* 웹툰 내용들에 대한 라인선 */
.webtoon {
  border: 1px solid black;
  position: relative;
}

/* 메인홈페이지의 웹툰이미지 크기 조절 */
.webtoon img {
  width: 100%;
  height: 50%;
}

/* 웹툰내 콘텐츠 제목 폰트종류정의 */
.webtoon-title {
  margin-top: 0;
  font-family: "Jua", sans-serif;
  font-size: 3.5vw;
}

/* 웹툰내 웹툰콘텐츠 별점 폰트정의 */
.score {
  font-family: "Nanum Pen Script", cursive;
  color: red;
  font-size: 3vw;
}

/* 웹툰내 웹툰콘텐츠 작가 폰트정의 */
.webtoon-author {
  font-family: "Gowun Batang", serif;
  color: #464444;
  font-size: 2.5vw;
}

/* 웹툰내 인기웹툰인경우 up의 폰트정의 */
.up {
  font-size: 3.5vw;
  background-color: #3498db;
  color: white;
  border-radius: 25%;
  padding: 0vw 1vw 0vw 1vw;
  font-family: 'Jua', sans-serif;
}

/* webtoon-author, up 의 부모요소인 webtoon에 relative 속성을 주고, 자식요소에 absolute를 주어 webtoon요소의 바닥에 작가와 업 글자를 나타내도록 표현 */
.webtoon-author {
  position: absolute;
  bottom: 0;
}
.up {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* 메인웹툰이미지를 header의 백그라운드 이미지로 저장 */
/* 여기서 index.js에 있는 함수식을 통해 웹툰이미지가 변경가능 */
header {
  background-image: url(./Mainwebtoon/2021최애캐\ 안녕\,\ 잘\ 지내니.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}